<h1 id="tableLabel">View Patients</h1>

<p *ngIf="!patients"><em>Loading...</em></p>

<!-- Button to clear selection -->
<!--  <button (click)="clearSelection()">Clear Selection</button>  -->
<!-- AG Grid Angular Component -->

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="patients">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birthday</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{ patient.firstName }}</td>
      <td>{{ patient.lastName }}</td>
      <td>{{ patient.birthday }}</td>
      <td>{{ patient.gender }}</td>
    </tr>
  </tbody>
</table>
