<h1 id="tableLabel">View Patients</h1>

<p>To delete a patient, click on its corresponding row. More than one row at a time may be selected by pressing Ctrl or Shift and then clicking!</p>
<p>To edit a patient, click on the field and start typing.</p>

<div class="row">
  <div class="text-right">
    <button class="btn btn-primary btn-block" (click)="clearSelection()">Clear Selection</button>
    <button class="btn btn-danger btn-block" (click)="deleteRows()">Delete Selected</button>
  </div>
</div>

<div class="content">
  <ag-grid-angular style="width: 100%; height: 100%"
                   class="ag-theme-alpine"
                   [columnDefs]="columnDefs"
                   [defaultColDef]="defaultColDef"
                   [rowData]="rowData$ | async"
                   [rowSelection]="'multiple'"
                   [animateRows]="true"
                   (gridReady)="onGridReady($event)"
                   (cellValueChanged)="onCellValueChanged($event)">
  </ag-grid-angular>
</div>

