@import "scss/custom.scss";
@import '../node_modules/bootstrap/scss/bootstrap';

html, body, .content {
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}


/*.ag-root-wrapper-body.ag-layout-normal.ag-focus-managed {
  height: 100%;
  width: 100%
} */

button {
  margin: 15px;
}



